<div class="container">
    <div class="d-flex align-icontent-center justify-content-center align-items-end my-5">
        <div *ngFor="let ele of arr; index as i" [ngStyle]="{'height.px': ele}" style="background-color:'#33DDFF'; width:5px; margin-left:2px;"
             [ngClass]= "{'bar':1==1}">
             </div>
    </div>
</div>

 <button (click)="OnSelectionSortClick()">Selection Sort</button>
 <button (click)="OnBubbleSortClick()">Bubble Sort</button>
 <button (click)="OnInsertionSortClick()">Insertion Sort</button>
 <button (click)="OnMergeSortClick()">Merge Sort</button>